<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyxnb.oh.floatwindow">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name="com.yyxnb.oh.floatwindow.FloatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>