<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ContainerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="false"
            android:label="盛装Fragment的一个容器(代理)Activity"
            android:screenOrientation="portrait"
            android:theme="@style/PageTheme">
            <intent-filter>
                <action android:name="com.yyxnb.what.page.ContainerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="Module.com.yyxnb.android.modules.IPage"
            android:value="com.yyxnb.android.page.FragmentPageImpl" />
    </application>

</manifest>